// Instalando las fuentes en el sitio web

/* Light */
@font-face{
  font-family: "Quicksands Light";
  src: url("../quicksand/Quicksand-Light.ttf");
  font-weight: light;
}

/* Regular */
@font-face{
  font-family: "Quicksands Regular";
  src: url("../quicksand/Quicksand-Regular.ttf");
  font-weight: light;
}

/* Medium */
@font-face{
  font-family: "Quicksands Medium";
  src: url("../quicksand/Quicksand-Medium.ttf");
  font-weight: light;
}

/* SemiBold */
@font-face{
  font-family: "Quicksands SemiBold";
  src: url("../quicksand/Quicksand-SemiBold.ttf");
  font-weight: light;
}

/* Bold */
@font-face{
  font-family: "Quicksands Bold";
  src: url("../quicksand/Quicksand-Bold.ttf");
  font-weight: light;
}
