/* ################# Global variables #################### */

/* Margin */
$global-margin-xsmall: 5px;
$global-margin-small: 10px;
$global-margin-medium: 20px;
$global-margin-large: 40px;
$global-margin-xlarge: 70px;

/* Colors */
$global-blue-color:  #0e76a8;
$global-darkblue-color: #0b6189;
$global-black-color: #333333;
$global-muted-color: #EEEEEE;

/* Fonts */
$global-font-light: "Quicksands Light";
$global-font-regular: "Quicksands Regular";
$global-font-medium: "Quicksands Medium";
$global-font-semibold: "Quicksands SemiBold";
$global-font-bold: "Quicksands Bold";
